{{ define "main" }}
  <h2>{{ .Title }}</h2>
  <div class="post-list">
    {{ range .Pages }}
    <a href="{{ .RelPermalink }}" class="post-card-link">
      <div class="post-card">
        <h3>{{ .Title }}</h3>
        <p class="post-meta">{{ .Date.Format "Jan 2, 2006" }}</p>
      
        {{ with .Params.tags }}
          <div class="post-tags">
            {{ range . }}
              <span class="tag">{{ . }}</span>
            {{ end }}
          </div>
        {{ end }}
      
        <p>{{ .Summary | truncate 300 }}</p>
      </div>
    </a>
    {{ end }}
  </div>
{{ end }}